<!DOCTYPE html>
<html>
  <head>
    <title>Rag</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <div class="container">
    <body>
      <%= render 'layouts/navbar' %>
    <%= yield %>

    </body>
  </div>

  <script type="text/javascript">
    $(".button-collapse").sideNav();
  </script>

</html>
