<p>Test Page!</p>
<h1> Location of the Day </h1>
<h3><%= @random_location.address %></h3>
<p><%= @random_location.latitude %></p>

<p><%= @random_location.longitude %></p> <br /> <br />

<p><%= @random_location.longitude %></p>
<h4>Here is your <%= link_to "map.", location_map_url(@location), :target => "_blank" %></h4> 
<br>

<% @comments.each do |comment| %>
<h3><%= comment.user_name %></h3>
<p><%= comment.title %></p>
<p><%= comment.comment %></p>
<% end %>
<%=link_to 'Add Comment', new_location_comment_path(@random_location) %>
<%= link_to 'Back', locations_path %>